/*
 *  row placeholder
 */
%row{
	  margin: 0 auto;
  	max-width: $max_width_row;
    padding-left: $h_padding_row;
    padding-right: $h_padding_row;
	  @include clearfix();
}

/*
 *  col1 to col11 placeholders
 */
@for $i from 1 through ($num_cols - 1)
{
  %col#{$i}
  {
    padding: 0 percentage($h_padding_col)/100;
    margin: 0 percentage($h_margin_col)/100;

    @media (min-width:$bp_columns){
      width: percentage(((100*$i)/$num_cols)-(($h_padding_col*2)+($h_margin_col*2)))/100;
      float:left;
    }

  }
}

/*
 *  col12 placeholder
 */
%col12
{
    padding: 0 percentage($h_padding_col)/100;
    margin: 0 percentage($h_margin_col)/100;
}