/*
 *  FONT
 */
$font_family_body 		: 	Arial, sans-serif;
$font_size_body 			: 	16px;
$font_weight_body 		: 	normal;
$base_line_height			:     25px;


/*
 *  COLORS
 */
$color_body              	:   	#535353;
$color_link              	:   	lighten(#17a,10);
$color_heading_default      	:   	#444;

$background_color_body        : 	#e9e9e9;

$color_h1      			:   	#222;
$color_h2      			:   	#EA3931;
$color_h3      			:   	#EA3931;
$color_h4      			:   	$color_heading_default;
$color_h5      			:   	$color_heading_default;
$color_h6      			:   	$color_heading_default;
$list_color_headings 		: 	($color_h1,$color_h2,$color_h3,$color_h4,$color_h5,$color_h6);


/*
 *  LINKS
 */
$text_decoration_link        	:   	none;


/*
 *  HEADINGS
 */
$font_family_heading   		: 	Arial, sans-serif;
$list_font_size_headings 	: 	(3.5, 2.25, 1.5, 1.5, 1.25, 1.125);
$font_weight_heading 		: 	bold;


/*
 *  LAYOUT
 */
$h_padding_body 	            :   	0;
$v_padding_body 	            :   	0;


/*
 *  GRID
 */
$num_cols 			      :   	12;
$h_margin_col 	            :   	1;
$h_padding_col 	            :   	.5;
$max_width_row  			: 	1100px;
$h_padding_row 	            :   	0;


/*
 *  BREAKPOINTS
 */
$bp_small 				: 	30em;
$bp_medium 				: 	50em;
$bp_large 				: 	70em;
$bp_huge 				: 	90em;
$bp_columns 			: 	$bp_small;


/*
 *  INTERNAL
 */
$base_font_size 			: 	16px;
$magic_number 			: 	$base_line_height;
$magic_ratio 			: 	$base_line_height / $base_font_size;