/*
 *	Load core file
 */

@import 'Apptzr/core';

/*
 *	Settings
 *
 *	You can override global settings and call functions here.
 *	It's safer than modify values in _variables.scss
 *
 *	Below are the functions I use during Apptzr development.
 */

@include importGoogleFont('Roboto:300|Droid+Serif');
@include defineFontFamily(Roboto,'Droid Serif');
@include defineGlobalFontSize(15px,22px);
@include defineFontWeight(300);
@include defineThemeColors(#424242,#F00,#bbb);
@include defineHeadingColors(#26C);
@include defineGrid(1,1,12,960px,1em);

/*
 *	Build Apptzr
 */

@import 'Apptzr/build';



/*
 *	Congratulations!!
 *	Your Apptzr is served.
 *
 *	Spice it up with your own amazing styles!!
 */


@function removeUnits($number) {
    @return $number / ($number * 0 + 1);
}


.wrapper
{
	@extend %row;
 	@include verticalSpace();
 	background: #eee;
 	border-left: 2px solid rgba(0,0,0,.4);
 	border-right: 2px solid rgba(0,0,0,.4);
	background-image: url(http://basehold.it/i/#{removeUnits($base_line_height)}/333333);
}
.row
{
	@extend %row;
 	@include verticalSpace(0);
	background: rgba(0,0,0,.1);

}

.logo
{
	@include logo('images/cocktail.png', 200px, 66px);
	float: left;
}

.main-nav
{
	clear: both;
	/* @include mainNav('center', .9em);*/
}

.primer
{
}

header
{
	@extend %row;
}

.contents, header
{
  	@extend %col12;
}



@for $i from 1 through ($num_cols)
{
  .col#{$i}
  {
  	@extend %col#{$i};
  }
}
