
%heading{
	font-family: $font_family_heading;
	font-weight: $font_weight_heading;
	@include verticalRythm();
}


@for $i from 1 through 6
{
	h#{$i}
	{
		@include setFontSize( $font_size_body * nth($list_font_size_headings,$i) );
		color: nth($list_color_headings,$i);
		@extend %heading;
	}
}
