
@mixin importGoogleFont($url){
	@import url(http://fonts.googleapis.com/css?family=#{$url});
}

@mixin clearfix(){
  &:after{
    content:'';
    display:block;
    height:0;
    clear:both;
  }
}

@mixin breakpoint($res){
	@media screen and (min-width: $res)
	{
		@content;
	}
}

@mixin setFontSize($font-size:$font_size_body, $line-height: true){
    font-size: $font-size;
    font-size: ($font-size / $base_font_size) * 1em;
    @if $line-height == true {
        line-height: ceil($font-size / $base_line_height) * ($base_line_height / $font-size);
    }
}

@mixin verticalRythm(){
    margin: $magic_number 0;
    margin: $magic_ratio + rem 0;
}

@mixin verticalSpace($multiplier:1) {
    padding-top: $multiplier * $magic-number;
    padding-top: $multiplier * $magic-ratio + rem;
    padding-bottom: $multiplier * $magic-number;
    padding-bottom: $multiplier * $magic-ratio + rem;
}

@mixin linearGradient ($colorA, $colorB){
    background: mix($colorA,$colorB);
    background-image: -webkit-linear-gradient(top, $colorA, $colorB);
    background-image: -moz-linear-gradient(top, $colorA, $colorB);
    background-image: -ms-linear-gradient(top, $colorA, $colorB);
    background-image: -o-linear-gradient(top, $colorA, $colorB);
    background-image: linear-gradient(top, bottom, $colorA, $colorB);
}

@mixin fontFace($fontName, $fontUrl){
    @font-face{
        font-family: $fontName;
        src: url('#{$fontUrl}.eot?');
        src: url('#{$fontUrl}.eot?#iefix') format('embedded-opentype'),
             url('#{$fontUrl}.woff') format('woff'),
             url('#{$fontUrl}.ttf') format('truetype'),
             url('#{$fontUrl}.svg##{$fontName}') format('svg');
    }
}
