/*
 * 	Override global font-size and line-height values.
 *	The document default values are 16px/25px .
 *
 *	usage:
 *	@include defineGlobalFontSize(15px,22px);
 */
@mixin defineGlobalFontSize($fsb:$font_size_body, $blh:$base_line_height){
	$font_size_body			: $fsb;
	$base_line_height 		: $blh;
	$magic_number 			: $base_line_height;
	$magic_ratio 			: $base_line_height / $base_font_size;
}

/*
 *	Override font-family values for body and headings.
 *
 *	usage:
 *	@include defineFontFamily(Roboto,'Droid Serif');
 */
@mixin defineFontFamily($b:$font_family_body,$h:$font_family_heading){
	$font_family_body    		: $b;
	$font_family_heading 		: $h;
}

/*
 *	Override font-weight values for body and headings. Useful when you import webfonts.
 *	Default values are normal for body and bold for headings.
 *
 *	usage:
 *	@include defineFontWeight(300,100);
 */
@mixin defineFontWeight($b:$font_weight_body,$h:$font_weight_heading){
	$font_weight_body    		: $b;
	$font_weight_heading 		: $h;
}

/*
 *	Override color properties for body, link and body background-color.
 *
 *	usage:
 *	@include defineThemeColors(#555,#222,#eee);
 */
@mixin defineThemeColors($bc:$color_body, $lc:color_link, $bgcolor:$background_color_body ){
	$color_body     			: $bc;
	$color_link     			: $lc;
	$background_color_body 		: $bgcolor;
}


/*
 *	Override color properties for headings.
 *	You can enter one value to change all heading colors, or pass a list with six values.
 * 	Remember to add extra colons in order to declare values as a list.
 *
 *	usage:
 *	@include defineHeadingColors(#3cf);
 *	@include defineHeadingColors((#3cf, #F00, #FF0, #00F, #0FF, #956));
 */
@mixin defineHeadingColors($hc:$list_color_headings){
	@if length($hc) == 1
	{
		$list_color_headings 	: ($hc,$hc,$hc,$hc,$hc,$hc);
	}
	@else
	{
		$list_color_headings 	: $hc;
	}
}


/*
 *	Override grid settings in this order:
 *	horizontal padding, horizontal margin, number of columns and max-width and padding for row.
 *
 *	usage:
 *	@include defineGrid(1,1,12,1200px,1em);
 */
@mixin defineGrid($h_p:$h_padding_col, $h_m:$h_margin_col, $num:$num_cols, $m_w:$max_width, $p_r:$h_padding_row){
	$h_padding_col 	    		: $h_p;
	$h_margin_col 	    		: $h_m;
	$num_cols 		    		: $num;

	$max_width_row	    		: $m_w;
	$h_padding_row 	    		: $p_r;
}