@mixin logo($img,$w,$h,$hideText:true)
{
	width: $w;
	height: $h;
	line-height: $h;
	background: url(#{$img}) no-repeat left center;
	white-space: nowrap;
	text-indent: $w + 5;

	@if $hideText
	{
		overflow: hidden;
	}

	& a{
		display: block;
		height: inherit;
	}
}