@mixin mainNav($type,$space:0)
{
	& li{
		padding:0 $space;
		float: left;
	}
	& a{
		padding:0 $space;
		display: block;
	}

	@if $type == 'right'
	{
		& ul{
			float: right;
		}
	}
	@if $type == 'left'
	{
		& ul{
			float: left;
		}
	}
	@if $type == 'center'
	{
		& ul{
			text-align: center;
		}
		& li{
			padding:0 $space;
			float: none;
			display: inline-block;
		}
	}

}